@charset "UTF-8";

body{
    background-color:#b0cac8e7;
    margin: 0px;
}

p{
    text-align: justify; 
 }
header{ 
    display: grid;
    color: #252724 ;
    background-color:#5075737c;
    text-align: center;
    border-radius:5px;
    margin:5px ;
    padding-top: 20px;
}
main{
    border: center;
    background-color: white;
    border-radius: 8px;
    margin:auto;
    width:900px;
    padding: 20px;
    box-shadow: 5px 5px 20px slategray;
    text-indent: 30px;
    margin-bottom: 15px;
}

ul{ 
    display: inline-block;
    text-align:left;
    text-decoration: none;
}
nav{ 
    background-color:#b0cac85b ;
    padding: 3px;
    box-shadow: slategrey 3px;  

}
footer{
 background-color: rgba(114, 158, 160, 0.671);
 margin: 20px;

}
#topo{
    font-weight:600;
    font-size: 50px;
    margin-bottom: -5px;
    margin: auto;
}

.titulo{
    background-color:#b0cac873 ;
    color:#3c3f39 ;
    font-weight:520;

}
.subtitulo{
    background-color:#5075737c;
    border-radius: 5px ;
    color:#2b2e29 ;
    font-weight:200;
}
.paragrafo{
    text-align: center;
    font-size: 17px;

}
.dois{
    background-color: rgba(183, 235, 236, 0.425);
    border-radius: 5px;
}
footer > p{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight:bold ;
}
nav>p{
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin:8px;
}
nav >p:hover { 
    color: white;
    text-decoration: underline;
}